<h2>Hosts</h2>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th class="col-sm-1">Status</th>
        <th class="col-sm-1">Hostname</th>
        <th class="col-sm-1">IP</th>
        <th class="col-sm-1">mac</th>
      </tr>
    </thead>
    <tbody *ngFor="let host of hosts" [ngClass]="{'active': activeHost == host}" (mouseover)="onSelect(host)">
      <tr  style="cursor: pointer;" (click)="loadDetails(host)">
        <td *ngIf="host.isUp == true; then hostUp else hostDown"></td>
        <td class="col-sm-1">{{host.hostname}}</td>
        <td class="col-sm-1">{{host.ipAddress}}</td>
        <td class="col-sm-1">{{host.macAddress}}</td>
        <ng-template #hostUp>
          <td class="col-sm-1">Online</td>
        </ng-template>
        <ng-template #hostDown>
          <td class="col-sm-1">Offline</td>
        </ng-template>
      </tr>
      <tr *ngIf= 'showDetails && selectedHost == host'>
          <app-host-details [host]="activeHost"></app-host-details>
      </tr>
    </tbody>
  </table>
</div>
