<h2>Hosts</h2>
<div class="row" style="position: relative; top: 50px;">
  <a class="btn btn-sm btn-primary col-xs-1" (click)="getHosts(); $event.stopPropagation()">Refresh</a>
</div>
<div class="row" style="position: relative; top: 100px; font-weight: bold; font-size: 14px;">
  <div class="row">
    <div class="form-group">
      <div class="col-md-3">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search by hostname" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1" style="cursor: pointer;" (click)="sort('isUp')">Status</div>
    <div class="col-sm-3" style="cursor: pointer;" (click)="sort('hostname')">Hostname</div>
    <div class="col-sm-2" style="cursor: pointer;" (click)="sort('ipAddress')">IP</div>
    <div class="col-sm-2" style="cursor: pointer;" (click)="sort('macAddress')">mac</div>
    <div class="col-sm-2" style="cursor: pointer;" (click)="sort('scanTime')">Last online time</div>
    <div class="col-sm-1">Note</div>
    <div class="col-sm-1">Place</div>
  </div>
</div>

<div class="row" *ngFor="let host of hosts | hostPipe: searchText | orderBy: {property: column, direction: direction}"
     style="position:relative;top: 120px; border-top: 1px solid; border-color: #e7e7e7">
    <app-host-details [host]="host" (deleteEvent)="delete(host)" (updateEvent)="updateHosts($event, host)"></app-host-details>
</div>
