<form #hostForm="ngForm" (ngSubmit)="onFormSubmit(hostForm)">
  <div class="form-group row">
    <div class="col-xs-3">
      <select class="form-control" name="place" [(ngModel)]="place">
        <option [ngValue]="null" disabled>Choose place</option>
        <option *ngFor="let place of places" [ngValue]="place">
          {{place.name}}
        </option>
      </select>
    </div>
    <div class="col-xs-2">
      <input class="form-control" id="host.hostname" placeholder="hostname" required minlength="2"
             [(ngModel)]="host.hostname" name="hostname" #hostname="ngModel"/>
    </div>
    <div class="col-xs-2">
      <input class="form-control" id="customName" placeholder="note" required minlength="2"
             [(ngModel)]="host.customName" name="customName" #customName="ngModel"/>
    </div>
    <div class="col-xs-2">
      <input class="form-control" id="ipAddress" placeholder="ip" required minlength="2"
             [(ngModel)]="host.ipAddress" name="ipAddress" #ipAddress="ngModel"/>
    </div>
    <div class="col-xs-2">
      <input class="form-control" id="macAddress" placeholder="mac" required minlength="2"
             [(ngModel)]="host.macAddress" name="macAddress" #macAddress="ngModel"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <button class="btn btn-md btn-primary col-xs-8">Add</button>
    </div>
  </div>
</form>

