<div class="row" style="cursor: pointer;"
     (click)="select()"
     (mouseover)="setActive()"
     (mouseleave)="unSetActive()"
     [ngStyle]="{'background-color': isActive === true ? '#f8f8f8' : 'white'}">
  <div *ngIf="host.isUp == true; then hostUp else hostDown"></div>
  <div class="col-sm-3">{{host.hostname}}</div>
  <div class="col-sm-2">{{host.ipAddress}}</div>
  <div class="col-sm-2">{{host.macAddress}}</div>
  <div class="col-sm-2">{{host.scanTime | date:'dd-MM-yyyy HH:mm:ss'}}</div>
  <div class="col-sm-1">{{host.customName}}</div>
  <div *ngIf="host.place" class="col-sm-1">{{host.place.name}}</div>
</div>
<ng-template #hostUp>
  <p class="col-sm-1" style="color:darkgreen;">Online</p>
</ng-template>
<ng-template #hostDown>
  <p class="col-sm-1" style="color:red;">Offline</p>
</ng-template>
<div class="row" style="height:80px; margin: auto;" *ngIf='isSelected == true'>
  <div class="col-sm-1" style="padding: 10px 0;">
    <button type="button" class="btn btn-sm btn-light"(click)="wake()">Wake</button>
  </div>
  <div class="col-sm-3" style="padding: 10px 0;">
    <button type="button" class="btn btn-sm btn-light" (click)="ping()">Check</button>
  </div>
  <div class="col-sm-2" style="padding: 10px 0;">
    <button type="button" class="btn btn-sm btn-light" (click)="edit()">Edit</button>
  </div>
  <div class="col-sm-1" style="padding: 10px 0;">
    <button type="button" class="btn btn-sm btn-light" (click)="delete(); $event.stopPropagation()">Delete</button>
  </div>
</div>
<div *ngIf="wakeStatus== true" class="row" style="height:50px;">
  <div class="col-sm-4">
      <div class="well" style=" position: relative; left: 5%; top: 10%">Magic package was sent</div>
  </div>
</div>
<div *ngIf='pingStatus' class="row" style="height:100px; right: 50%; left: 30%;">
  <div class="col-sm-3" *ngIf="host.isUp == true; then hostUp else hostDown"></div>
  <ng-template #hostUp>
    <div class="well" style=" position: relative; top: 10%;">Host is up now</div>
  </ng-template>
  <ng-template #hostDown>
    <div class="well" style=" position: relative; top: 10%;">Host is down now</div>
  </ng-template>
</div>
