<h2>Places</h2>
<!--<div class="row form-group mt-4">-->
    <!--<a type="button" class="btn btn-md btn-light col-xs-2" routerLink="new"-->
       <!--routerLinkActive="active">Add new place</a>-->
<!--</div>-->
<div class="row">
<table class="table table">
    <tr>
        <th class="col-sm-1">id</th>
        <th class="col-sm-1">name</th>
        <th class="col-sm-1"></th>
        <!--<th class="col-sm-1"></th>-->
    </tr>
</table>
<table class="table table">
    <tr *ngFor="let place of places"
        [ngClass]="{'active': selectedPlace == place}"
        (mouseover)="onSelect(place)">
        <td class="col-sm-1">{{place.id}}</td>
        <td class="col-sm-1">{{place.name}}</td>
        <td *ngIf="selectedPlace == place; then selectedrow else unselectedrow">
        </td>
        <ng-template #selectedrow>
            <!--<td class="col-sm-1"><button class="btn btn-sm btn-primary"-->
                                         <!--(click)="goToDetail()">View Details</button></td>-->
            <td class="col-sm-1"><button class="btn btn-sm btn-danger"
                                         (click)="delete(place); $event.stopPropagation()">Delete</button></td>
        </ng-template>
        <ng-template #unselectedrow>
            <td class="col-sm-1"></td>
            <!--<td class="col-sm-1"></td>-->
        </ng-template>
    </tr>
</table>
</div>
<div class="row form-group mt-4">
    <a class="btn btn-md btn-primary col-xs-2" routerLink="new"
       routerLinkActive="active">Add new place</a>
</div>
